{% extends "base.html" %}


{% block title %}Messages{% endblock %}


{% block styles %}{% load static %}{% endblock %}

{% block content %}
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">About Us</h1>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="article-dual-column">
        <div class="row">
            <div class="col-md-10 col-lg-7 col-xl-8 offset-md-1 offset-lg-0 offset-xl-2">
                <div class="text">
                    <p style="white-space: normal;">
                    	CookBook is a platform for personal recipe sharing. It includes all the functionality of a social media app, but it is for food.
                    	<br><br>
                    	The idea for CookBook started off as a recipe preservation project. The diversity of recipes is immense, whether it be due country to country, person to person or region to region differences. However, the recipes that are easily accessible through the internet or even recipe books are standardized versions of these recipes. 
                    	<br><br>
                    	At CookBook, we believe that there could be as many versions of a food as the number of people on Earth. The main way to pass on these is through a generational transfer. However, there are probably as many recipes disappearing every day as the ones that are passed on, and we want them to live on. We also want to have a platform that we can use to share these personal recipes with other people and learn about other people’s recipes. 
						<br><br>
                    	We also believe that the story behind a recipe, either personal or historical, is at least as important as what goes inside the recipe and what steps to follow. This is why for each recipe we have a section reserved for such stories and we encourage each of our members to tell us their story.
                    	<br><br>
                    	Besides just recipes, we believe our personal knowledge is very valuable. We gather this knowledge from our own experiences, our culture and our upbringing. This is why you can also share food related articles that are not recipes on topics such as best kitchen practices, diet or history. 
                    	<br><br>
                    	The reason we want CookBook to be in a social media format is to have the communication between our members at a maximum. You can collaborate with other people on CookBooks, ask them questions about their recipe and stories.
                    	<br><br>
                    	What are you waiting for? Create your first CookBook here, invite your friends to collaborate on them, check out other recipes from others and start building new connections! Let’s build a collective memory of all our grandparents’ recipes!
                    	<br><br>
                    	<strong style="color: black; size:20px;">How to Use</strong>
                    	<br><br>
                    	Start by creating your first CookBook here. Add a name, a description and a picture. You can think of CookBooks as a collaborative and thematic place to store your recipes. You can come up with any theme you’d like. After creating one, start adding your recipes inside your CookBook.
                	</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}