{% extends "base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
	<h1>{{ recipe.title }}</h1>
	<div class="container mt-5 d-flex justify-content-center">
	    <div class="card p-3">
	        <div class="d-flex align-items-center">
	            <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155"> </div>
	            <div class="ml-3 w-100">
	                <h4 class="mb-0 mt-0">Alex Morrision</h4> <span>Senior Journalist</span>
	                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
	                    <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
	                    <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
	                    <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
	                </div>
	                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Chat</button> <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button> </div>
	            </div>
	        </div>
	    </div>
	</div>

	{% if recipe.picture %}
		{% load thumbnail %}
		<a href="{{ recipe.picture.url }}">
			<img src="{% thumbnail recipe.picture 300x0 %}" class="image-detail">
		</a>	
	{% endif %}
	{% with total_likes=recipe.users_like.count users_like=recipe.users_like.all %}
		<div class="image-info">
			<div class="recipe-info">
				<p>Published by {{ recipe.user.first_name|title }} {{ recipe.user.last_name|title }} on {{ recipe.created }}</p>
				<p>Ingredients: {{ recipe.ingredients|linenumbers }}</p>
				<p>Region: {{ recipe.region }}</p>
				{% if recipe.description %}
					<p>Description: {{ recipe.description }}</p>
				{% endif %}
			</div>

			<div>
				<span class="count">
					<span class="total">{{ total_likes }}</span>
					like{{ total_likes|pluralize }}
				</span>
				<a href="#" data-id="{{ recipe.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
					{% if request.user not in users_like %}
						Like
					{% else %}
						Unlike
					{% endif %}
				</a>
			</div>
			
		</div>
		<div class="image-likes">
			{% for user in users_like %}
				<div>
					<img src="{{ user.profile.photo.url }}">
					<p>{{ user.first_name }}</p>
				</div>
			{% empty %}
			{% endfor %}
		</div>
	{% endwith %}
{% endblock %}

{% block domready %}
	$('a.like').click(function(e){
    	e.preventDefault();
    	$.post('{% url "recipes:like" %}',
      		{
        		id: $(this).data('id'),
        		action: $(this).data('action')
      		},
      		function(data){
        		if (data['status'] == 'ok')
        		{
          			var previous_action = $('a.like').data('action');

          			// toggle data-action
          			$('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
          			// toggle link text
          			$('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

          			// update total likes
          			var previous_likes = parseInt($('span.count .total').text());
          			$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
        		}
      		}
    	);
  	});
{% endblock %}






